<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
</head>
<body>
    
    <div id="root">
        <div>
            <input v-model="inputValue" type="text" />
            <button @click="handleSubmit">提交</button>
        </div>
        <ul>
            <!-- <li v-for="item, index in list" :key="index">{{item}}</li> -->
            <todo-item 
                v-for="item, index in list" 
                :key="index" 
                :content="item" 
                :index="index" 
                @delete="handleDelete"
            >
            </todo-item>
        </ul>
    </div>

    <script>
    
    Vue.component('todo-item', {
        template: '<li @click="handleClick">{{content}}</li>',
        props: ['content', 'index'],
        methods: {
            handleClick () {
                // alert(this.content)
                this.$emit('delete', this.index);
            }
        }
    })

    // var TodoItem = {
    //     template: '<li>{{item}}</li>'
    // }

    new Vue({
        el: '#root',
        data: {
            inputValue: '',
            list: []
        },
        // components: {
        //     'todo-item': TodoItem
        // },
        methods: {
            handleSubmit () {
                this.list.push(this.inputValue);
                this.inputValue = '';
            },
            handleDelete (index) {
                this.list.splice(index, 1);
            }
        }
    });
    </script>
</body>
</html>